.topo_container {
  padding: 8px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d538c;
}

.topo_container h1 {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}